<h1>Anna's Page</h1>

<p>Hi, Anna! This is your private page. No one can access it except you, and only when you're logged in.</p>

<h3>Where would you like to go?</h3>
	<ul>
		<li><%= link_to 'Homepage', posts_path %></li>
		<li><%= link_to 'Create a new blog post', new_post_path %></li>
	</ul>

<p>Click on an individual blog post to edit or delete it.</p>