<!-- <div class='White purple_border' style="color:purple"> -->
  <div class="bs-docs-featurette">
    <div class="container charity-images"> 
    <h1>Feeling blessed?</h1>
      <h1>Lend a hand to those who need it:</h1><br>

      <div class="col-xs-6 col-sm-3">
        <a href="http://www.helpamotherout.org/" target="blank" title="Help a mother out">
          <%= image_tag("help_a_mom.jpg", :alt => "help a mother out photo", :class => "img-responsive") %>Help a Mother Out: Distributing diapers to families in need</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://leahspantrysf.org/" target="blank" title="Leah's Pantry">
          <%= image_tag("leahs_pantry.jpg", :alt => "first flight badge", :class => "img-responsive") %>Leah's Pantry: Providing nutrition and culinary programs to underserved communities</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://www.homelessprenatal.org/" target="blank" title="Homeless prenatal">
          <%= image_tag("homeless_prenatal.jpg", :alt => "homeless prenatal photo", :class => "img-responsive") %>Homeless Prenatal Program: Breaking the cycle of childhood poverty</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://www.projectnightnight.org/DonateItems.html" target="new" title="Project Night Night">
          <%= image_tag("night_night.jpg", :alt => "project night night photo", :class => "img-responsive") %>Project Night Night: Delivering books, blankies and stuffed animals to homeless children</a>
      </div>
    </div>
  </div>
<!-- </div> -->