<div class='White'>
  <div class="bs-docs-featurette">
    <div class="container"> 

      <div class="col-xs-6 col-sm-3">
        <a href="http://projectmotherhoodnyc.com/holiday-stocking-stuffer-gift-guide-2014-giveaway/" target="new" title="Project Motherhood">
          <%= image_tag("pm_gift_guide.jpg", :alt => "project motherhood", :class => "img-responsive") %> Title of article</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://projectmotherhoodnyc.com/holiday-stocking-stuffer-gift-guide-2014-giveaway/" target="new" title="Project Motherhood">
          <%= image_tag("art.jpg", :alt => "art museum badge", :class => "img-responsive") %> Title of article</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://projectmotherhoodnyc.com/holiday-stocking-stuffer-gift-guide-2014-giveaway/" target="new" title="Project Motherhood">
          <%= image_tag("beer.jpg", :alt => "happy hour badge", :class => "img-responsive") %> Title of article</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="http://projectmotherhoodnyc.com/holiday-stocking-stuffer-gift-guide-2014-giveaway/" target="new" title="Project Motherhood">
          <%= image_tag("book.jpg", :alt => "book badge", :class => "img-responsive") %> Title of article</a>
      </div>
    </div>
  </div>
</div>