<div class='White'>
  <div class="bs-docs-featurette">
    <div class="container"> 

      <div class="col-xs-6 col-sm-3">
        <a href="http://www.helpamotherout.org/" target="new" title="Help a mother out">
          <%= image_tag("help_a_mom.jpg", :alt => "help a mother out photo", :class => "img-responsive") %>Help a Mother Out</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="https://www.etsy.com/listing/219613583/first-flight-merit-badge?ref=shop_home_feat_1" target="new" title="First Flight">
          <%= image_tag("flight.jpg", :alt => "first flight badge", :class => "img-responsive") %> New in shop: First Flight</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="" target="new" title="">
          <%= image_tag("trio.jpg", :alt => "", :class => "img-responsive") %> Title of article</a>
      </div>

      <div class="col-xs-6 col-sm-3">
        <a href="" target="new" title="">
          <%= image_tag("trio.jpg", :alt => "", :class => "img-responsive") %> Title of article</a>
      </div>
    </div>
  </div>
</div>