<div class="Purple">
  <div class="bs-docs-featurette" id="blog">
    <div class="container">
       <h2 class="bs-docs-featurette-title">Blog posts</h2>
      <div class="row bs-docs-featured-sites">
        <div class="blog-posts">
          	<% @posts.each do |post| %>
          		<ul>
                <li><%= link_to image_tag(@post.image.url(:med)), @post.image.url %></li>
          			<li><em><strong><%= link_to (post.title), post_path(post) %>:</strong></em><br>
                 <%= post.text %></li>
          		</ul>
          	<% end %>
        </div>
      </div>
    </div>
  </div>
</div>