<!-- <div class="Purple"> -->
  <div class="bs-docs-featurette">
    <div class="container">
			<h1>About Us</h1>
			<hr>
			<div class="about-container">
				<p>Parenthood is fraught with challenges - one of which is making sure you don't forget to get out there and enjoy your life! I created Vinna as a way for parents to mark our daily triumphs - from tackling an at-home task to going on a cultural adventure, kiddo-in-tow. These badges are to be proudly displayed on your baby carrier (Ergo, for example) or on a diaper bag. Or, collect them at home, and high-five yourself every time you remember, "Yeah. I totally nailed that." The word "vinna" means "win." It also means "work." Parenthood is winning work. Celebrate your successes! You definitely deserve a merit badge.</p>
			</div>

			<div class="about-photos">
				<ul>
					<li><img src="images/tahoe.jpg", alt="Lake Tahoe", class="img-responsive sm-photos"></li>
					<li><img src="images/Santos.jpg", alt="Santos", class="img-responsive sm-photos"></li>
					<li><img src="images/Watson_badges.jpg", alt="Watson", class="img-responsive sm-photos"></li>
				</ul>
			</div>

		</div>
	</div>
<!-- </div> -->